
/****************************************************about-section********************************************************/
#about-section {
    display: inline-block;
    
    
}










/*******************************************************intro-section*****************************************************/
#intro-section {
    
    display: block;
    flex: none;
    text-align: center;
    
    
    
}

#maja {
    margin: 120px;
}

#sajo {
    margin: 120px;
}

#haja {
    margin: 120px;
}
















/*********************************************************Header************************************************************/

#menu:hover {
   color: rgb(167, 31, 31);
}









/***********************************************************HERO SECTION***************************************************/


#hero-section {
    background-image: url(../hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}